<div id="<%= dom_id post %>">
  <p>
    <strong>Subject:</strong>
    <%= post.subject %>
  </p>

  <p>
    <% if user_signed_in? %>
      <strong>Author:</strong>
      <%= post.user.name %>
    <% end %>

  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
